body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}

form {
    margin: 20px;
}

input, select {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
}
